flows.json
[
    {
        "id": "http_in_ping",
        "type": "http in",
        "z": "watchdog_flow",
        "name": "HTTP Ping In",
        "url": "/ping",
        "method": "get",
        "swaggerDoc": "",
        "x": 140,
        "y": 100,
        "wires": [["store_ping"]]
    },
    {
        "id": "store_ping",
        "type": "function",
        "z": "watchdog_flow",
        "name": "Store Last Ping",
        "func": "// Store the timestamp of the last ping\nflow.set('lastPing', Date.now());\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 100,
        "wires": [["http_response"]]
    },
    {
        "id": "http_response",
        "type": "http response",
        "z": "watchdog_flow",
        "name": "HTTP Response",
        "statusCode": "200",
        "headers": {},
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "inject_check",
        "type": "inject",
        "z": "watchdog_flow",
        "name": "Check Ping Every Minute",
        "props": [{"p":"payload"}],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 200,
        "wires": [["check_ping"]]
    },
    {
        "id": "check_ping",
        "type": "function",
        "z": "watchdog_flow",
        "name": "Check Last Ping",
        "func": "const lastPing = flow.get('lastPing') || 0;\nconst now = Date.now();\n// 5 minutes = 5*60*1000 ms\nif (now - lastPing > 5*60*1000) {\n    msg.payload = 'Ping missed';\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 200,
        "wires": [["tuya_relay","push_notify"]]
    },
    {
        "id": "tuya_relay",
        "type": "tuya-smart-device",
        "z": "watchdog_flow",
        "name": "Tuya Relay ON",
        "deviceId": "<YOUR_TUYA_DEVICE_ID>",
        "action": "turnOn",
        "accessId": "<YOUR_TUYA_ACCESS_ID>",
        "accessSecret": "<YOUR_TUYA_ACCESS_SECRET>",
        "region": "<YOUR_TUYA_REGION>",
        "x": 620,
        "y": 240,
        "wires": [[]]
    },
    {
        "id": "push_notify",
        "type": "pushover",
        "z": "watchdog_flow",
        "name": "Push Notification",
        "user": "<YOUR_PUSHOVER_USER_KEY>",
        "token": "<YOUR_PUSHOVER_API_TOKEN>",
        "x": 640,
        "y": 160,
        "wires": [[]]
    }
]
